<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dolphin.action.mapper.ActionMapper">
    <resultMap type="cn.dolphin.action.domain.Action" id="actionMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <sql id="Base_Column_List">
      `id`, `name`
    </sql>

    <select id="getAction" resultMap="actionMap">
        select * from `action`
        where id = 1
        for update
    </select>

    <update id="updateAction1">
        update action
        set name = 'linzhi'
        where id = 1
    </update>

    <update id="updateAction2">
        update action
        set name = 'lilinzhi'
        where id = 2
    </update>

</mapper>
